*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:#ffffff;
    font-family:Arial,sans-serif;
    text-align:center;
    overflow-x:hidden;
}

header{
    padding:80px 20px;
    background:linear-gradient(180deg,#000,#0d1117);
}

h1{
    font-size:55px;
    color:#00ff99;
    text-shadow:0 0 10px #00ff99,
                0 0 20px #00ff99,
                0 0 40px #00ff99;
}

h2{
    margin-top:15px;
    color:#00d9ff;
}

p{
    color:#cfcfcf;
    margin-top:15px;
    font-size:18px;
}

a{
    display:inline-block;
    margin:15px 8px;
    padding:12px 25px;
    border:2px solid #00ff99;
    border-radius:30px;
    color:#00ff99;
    text-decoration:none;
    transition:.3s;
}

a:hover{
    background:#00ff99;
    color:#000;
    box-shadow:0 0 20px #00ff99;
}

section{
    padding:60px 20px;
}

.card{
    width:280px;
    margin:20px auto;
    padding:25px;
    background:#111;
    border:1px solid #00ff99;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,255,153,.3);
}

footer{
    padding:25px;
    background:#000;
    color:#888;
}
